 <% comments.each do |comment| %>
  <% if comment.is_deleted == false %>
    <div class="container">
      <div>
        <div class="row">
          <%= link_to user_path(comment.user.id) do %>
            <!--コメント主画像-->
            <div class="col">
              <%= attachment_image_tag comment.user, :image, :fill, 30, 30, format: 'jpg', fallback: "noimage.jpg", size: '30x30' %>
            </div>
          <% end %>
          <%= link_to user_path(comment.user.id) do %>
            <!--コメント主ニックネーム-->
            <p class="col">
              <% if comment.user.nickname.blank? %>
                no name
              <% else %>
                <%= comment.user.nickname %>
              <% end %>
            </p>
          <% end %>
          <!--返信数-->
          <p class="col">
            返信数<%= comment.replies.where(is_deleted: false).count %>
          </p>
          <!--いいねボタン-->
          <p class="col">
            <% if comment.comment_favorites.find_by(user_id: current_user.id).nil? && user_signed_in? && current_user.id != comment.user_id %>
              <%= link_to comment_comment_favorites_path(comment.id), method: :post do %>
                いいねを付ける<i class="fas fa-thumbs-up" style="color: blue"></i>
              <% end %>
            <% elsif comment.comment_favorites.find_by(user_id: current_user.id) && user_signed_in? && current_user.id != comment.user_id %>
              <%= link_to comment_comment_favorites_path(comment_id: comment.id), method: :delete do %>
                いいねを外す<i class="fas fa-thumbs-up" style="color: red"></i>
              <% end %>
            <% end %>
            <%= comment.comment_favorites.all.count %>
          </p>
        </div>
        <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id) do %>
          <div class="row">
            <!--コメントテキスト-->
            <p class="col">
              <%= comment.text %>
            </p>
          </div>
        <% end %>
        <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id) do %>
          <div class="row">
            <!--コメント画像-->
            <div class="col">
              <%= attachment_image_tag comment, :image, :fill, 400, 250, format: 'jpg' %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <!--コメント日時-->
          <p class="col">
            コメント日時<%= l comment.created_at %>
          </p>
          <% if comment.updated_at != comment.created_at %>
            <!--更新日時-->
            <p class="col">
              更新日時<%= l comment.updated_at %>
            </p>
          <% end %>
          <!--報告ボタン-->
          <p class="col">
            <% if comment.comment_reports.find_by(user_id: current_user.id).nil? && user_signed_in? && current_user.id != comment.user_id %>
              <%= link_to post_post_reports_path(comment.id), method: :post do %>
                報告をする<i class="fas fa-exclamation-triangle" style="color: blue"></i>
              <% end %>
            <% elsif comment.comment_reports.find_by(user_id: current_user.id) && user_signed_in? && current_user.id != comment.user_id %>
              <%= link_to comment_comment_reports_path(comment_id: comment.id), method: :delete do %>
                報告を取り消す<i class="fas fa-exclamation-triangle" style="color: red"></i>
              <% end %>
            <% end %>
          </p>
          <!--コメント主がログインユーザーの場合に表示-->
          <% if comment.user_id == current_user.id %>
            <!--編集ボタン-->
            <div class="col">
              <button>編集する</button>
            </div>
            <!--更新するボタン-->
            <div class="col">
              <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id), method: :patch do %>
                <button>更新する</button>
              <% end %>
            </div>
            <!--取り消すボタン-->
            <div class="col">
              <%= link_to delete_post_comment_path(post_id: comment.post_id, id: comment.id), method: :patch do %>
                <button>取り消す</button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif comment.is_deleted == true && comment.replies.find_by(is_deleted: false) %>
    <div class="container">
      <div>
        <div class="row">
          <!--返信数-->
          <p class="col">
            返信数<%= comment.replies.where(is_deleted: false).count %>
          </p>
        </div>
        <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id) do %>
          <div class="row">
            <!--コメントテキスト-->
            <p class="col">
              削除されました。
            </p>
          </div>
        <% end %>
        <div class="row">
          <!--コメント日時-->
          <p class="col">
            コメント日時<%= l comment.created_at %>
          </p>
          <!--削除日時-->
          <p class="col">
            削除日時<%= l comment.updated_at %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>