<div class="row">
  <div class="col">
    <div>
      <!--コメント数-->
      <p class="inline-block">
        コメント数<%= post.comments.where(is_deleted: false).count %>
      </p>
    </div>
    <div>
      <%= link_to post_path(post.id) do %>
        <!--投稿テキスト-->
        <p class="inline-block">
          削除されました。
        </p>
      <% end %>
    </div>
    <div>
      <!--投稿日時-->
      <p class="inline-block">
        投稿日時<%= l post.created_at %>
      </p>
      <!--削除日時-->
      <p class="inline-block">
        削除日時<%= l post.updated_at %>
      </p>
      <!--残り時間-->
      <p class="inline-block">
        残り<%= post.countdown %>
      </p>
    </div>
  </div>
</div>
