<div class="container">
  <div>
    <div class="row">
      <%= link_to user_path(post.user.id) do %>
        <div class="col">
          <%= attachment_image_tag post.user, :image, :fill, 30, 30, format: 'jpg', fallback: "noimage.jpg", size: '30x30' %>
        </div>
      <% end %>
      <%= link_to user_path(post.user.id) do %>
        <p class="col">
          <% if post.user.nickname.blank? %>
            no name
          <% else %>
            <%= post.user.nickname %>
          <% end %>
        </p>
      <% end %>
      <p class="col">
        コメント数<%= post.comments.all.count %>
      </p>
      <p class="col">
        <% if post.post_favorites.find_by(user_id: current_user.id).nil? && user_signed_in? && current_user.id != post.user_id %>
          <%= link_to post_post_favorites_path(post.id), method: :post do %>
            いいねを付ける<i class="fas fa-thumbs-up" style="color: blue"></i>
            <%= post.post_favorites.all.count %>
          <% end %>
        <% elsif post.post_favorites.find_by(user_id: current_user.id) && user_signed_in? && current_user.id != post.user_id %>
          <%= link_to post_post_favorites_path(post_id: post.id), method: :delete do %>
            いいねを外す<i class="fas fa-thumbs-up" style="color: red"></i>
            <%= post.post_favorites.all.count %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="row">
      <p class="col">
        <%= post.text %>
      </p>
    </div>
    <div class="row">
      <div class="col">
        <%= attachment_image_tag post, :image, :fill, 400, 250, format: 'jpg' %>
      </div>
    </div>
    <div class="row">
      <p class="col">
        投稿日時<%= l post.created_at %>
      </p>
      <p class="col">
        残り<%= post.countdown %>
      </p>
      <p class="col">
        <% if post.post_reports.find_by(user_id: current_user.id).nil? && user_signed_in? && current_user.id != post.user_id %>
          <%= link_to post_post_reports_path(post.id), method: :post do %>
            報告をする<i class="fas fa-exclamation-triangle" style="color: blue"></i>
          <% end %>
        <% elsif post.post_reports.find_by(user_id: current_user.id) && user_signed_in? && current_user.id != post.user_id %>
          <%= link_to post_post_reports_path(post_id: post.id), method: :delete do %>
            報告を取り消す<i class="fas fa-exclamation-triangle" style="color: red"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>