<%= render partial: 'public/posts/show_post', locals: { post: @post } %>
<% if user_signed_in? %>
  <%= render partial: 'public/posts/new_comment', locals: { post: @post, comment: @comment } %>
<% end %>
<% @comments.each do |comment| %>
  <div class="container">
    <div>
      <div class="row">
        <div class="col">
          <%= attachment_image_tag comment.user, :user_image, :fill, 30, 30, format: 'jpg', fallback: "noimage.jpg", size: '30x30' %>
        </div>
        <p class="col">
          <% if comment.user.nickname.blank? %>
            no name
          <% else %>
            <%= comment.user.nickname %>
          <% end %>
        </p>
        <div class="col">
          <div class="row">
            <p class="col">
              返信数<%= comment.replies.all.count %>
            </p>
            <p class="col">
              <% if comment.comment_favorites.find_by(user_id: current_user.id).nil? && user_signed_in? %>
                <%= link_to comment_comment_favorites_path(comment.id), method: :post do %>
                  いいねを付ける<i class="fa-solid fa-thumbs-up",style="color: blue"></i>
                  <%= comment.comment_favorites.all.count %>
                <% end %>
              <% elsif comment.comment_favorites.find_by(user_id: current_user.id) && user_signed_in? %>
                <%= link_to comment_comment_favorite_path(comment_id: comment.id, id: comment.comment_favorites.find_by(user_id: current_user.id)), method: :delete do %>
                  いいねを外す<i class="fa-solid fa-thumbs-up",style="color: red"></i>
                  <%= comment.comment_favorites.all.count %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <p class="col">
          <%= comment.text %>
        </p>
      </div>
      <div class="row">
        <p class="col">
          コメント日時<%= comment.created_at %>
        </p>
        <p class="col">
          <% if comment.comment_reports.find_by(user_id: current_user.id).nil? && user_signed_in? %>
            <%= link_to comment_comment_reports_path(comment.id), method: :post do %>
              報告をする<i class="fa-solid fa-triangle-exclamation",style="color: blue"></i>
            <% end %>
          <% elsif comment.comment_reports.find_by(user_id: current_user.id) && user_signed_in? %>
            <%= link_to comment_comment_report_path(comment_id: comment.id, id: comment.comment_reports.find_by(user_id: current_user.id)), method: :delete do %>
              報告を取り消す<i class="fa-solid fa-triangle-exclamation",style="color: red"></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>