<div>
  <div class="row">
    <!--ユーザー情報-->
    <%= render partial: "public/comments/comment_user", locals: {comment: comment} %>
    <!--返信数-->
    <p class="col">
      返信数<%= comment.replies.where(is_deleted: false).count %>
    </p>
    <!--いいねボタン-->
    <p class="col">
      <%= render partial: "public/comments/comment_favorite", locals: {comment: comment} %>
    </p>
  </div>
  <div class="row">
    <!--コメントテキスト-->
    <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id) do %>
      <p class="col">
        <%= comment.text %>
      </p>
    <% end %>
  </div>
  <div class="row">
    <!--コメント画像-->
    <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id) do %>
      <div class="col">
        <%= attachment_image_tag comment, :image, :fill, 400, 250, format: 'jpg' %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <!--コメント日時-->
    <p class="col">
      コメント日時<%= l comment.created_at %>
    </p>
    <% if comment.updated_at != comment.created_at %>
      <!--更新日時-->
      <p class="col">
        更新日時<%= l comment.updated_at %>
      </p>
    <% end %>
    <!--報告ボタン-->
    <p class="col">
      <%= render partial: "public/comments/comment_report", locals: {comment: comment} %>
    </p>
    <!--コメント主がログインユーザーの場合に表示-->
    <% if comment.user_id == current_user.id %>
      <!--編集ボタン-->
      <div class="col">
        <button>編集する</button>
      </div>
      <!--更新するボタン-->
      <div class="col">
        <%= link_to post_comment_path(post_id: comment.post_id, id: comment.id), method: :patch do %>
          <button>更新する</button>
        <% end %>
      </div>
      <!--取り消すボタン-->
      <div class="col">
        <%= link_to delete_post_comment_path(post_id: comment.post_id, id: comment.id), method: :patch do %>
          <button>取り消す</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
