<div class="container">
  <div class="row">
    <h3 class="col">会員詳細</h3>
  </div>
  <div class="row">
    <div>
      <div class="col">
      </div>
        <div class="col">
          <table>
            <tr>
              <td>name</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td>email</td>
              <td><%= @user.email %></td>
            </tr>
          </table>
        </div>
        <div class="col">
          <div>通報数<%= @user.report_count %></div>
        </div>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="col">
        会員情報
      </div>
      <div>
        説明
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>自己紹介</div>
      <div><%= @user.profile %></div>
      <div>
        <div style="display: inline-block">フォロー会員一覧</div>
        <div style="display: inline-block">ブロック会員一覧</div>
      </div>
      <div>
        <div>コメント評価</div>
        <table>
          <tr>
            <td>今週のいいね数</td>
            <td><%= @user.this_week_favorite_count %></td>
          </tr>
          <tr>
            <td>直近30日のいいね数</td>
            <td><%= @user.day30_favorite_count %></td>
          </tr>
          <tr>
            <td>トータルいいね数</td>
            <td><%= @user.total_favorite %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% if @user.is_deleted == false %>
        <%= link_to delete_admin_user_path(@user.id), method: :patch do %>
          <button>アカウントを停止させる</button>
        <% end %>
      <% else %>
        <%= link_to undo_admin_user_path(@user.id), method: :patch do %>
          <button>アカウントを元に戻す</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>