<%= form_with model: user, url: user_path(user.id), method: :patch, remote: true do |f| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>アカウント情報</h3>
        <div>
          <h4>アカウント画像</h4>
          <div>
            <div class="user_edit">
              <%= attachment_image_tag @user, :image, :fill, 30, 30, format: 'jpg', fallback: "noimage.jpg", size: '100x100' %>
            </div>
            <div class="user_update">
              <%= f.file_field :image , value: user.image %>
            </div>
            <button class="user_edit user_edit_button">編集する</button>
            <%= f.submit "更新する" %>
            <buttonn class="user_update user_cancel_button">キャンセルする</button>
          </div>
          <h4>ニックネーム</h4>
          <div>
            <p class="user_edit">
              <% if @user.nickname.blank? %>
                no name
              <% else %>
                <%= @user.nickname %>
              <% end %>
            </p>
            <div class="user_update">
              <%= f.text.field :nickname, value: @user.nickname %>
            </div>

          </div>
          <>
          <h3>自己紹介</h3>
          <div>
            <div class="user_edit">
              <p>
                <% if @user.profile.blank? %>
                <% else %>
                  <%= @user.profile %>
                <% end %>
              </p>
              <button class="user_edit user_edit_button">編集する</button>
            </div>
            <div class="user_update">
              <%= f.text_area :profile, value: @user.profile %>
              <%= f.submit "更新する" %>
              <buttonn class="user_update user_cancel_button">キャンセルする</button>
            </div>
          </div>
        </div>
        <div>
          <h3>登録情報</h3>
          <div>
            <!--name-->
            <div>
              <h4 class="inline-block">name</h4>
              <p class="inline-block user_edit">
                <%= @user.name %>
              </p>
              <div class="inline-block user_update">
                <%= f.text_field :name, value: @user.name %>
              </div>
            </div>
            <!--email-->
            <div>
              <h4 class="inline-block">email</h4>
              <p class="inline-block user_edit">
                <%= @user.email %>
              </p>
              <div class="inline-block user_update">
                <%= f.text_field :email, value: @user.email %>
              </div>
            </div>
          </div>
        </div>
        <div>
          <%= link_to block_users_path do %>
            <p class="col">ブロック一覧</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
