<div class="container">
  <div class="row">
    <h3 class="col">アカウント情報</h3>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>アカウント画像</th>
            <th>ニックネーム</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <%= attachment_image_tag @user, :image, :fill, 30, 30, format: 'jpg', fallback: "noimage.jpg", size: '30x30' %>
            </th>
            <th>
              <% if @user.nickname.blank? %>
                no name
              <% else %>
                <%= @user.nickname %>
              <% end %>
            </th>
            <th id="follow_user_<%= @user.id %>">
              <%= render partial: 'public/users/follow_user', locals: {user: @user} %>
            </th>
            <th id="block_user_<%= @user.id %>">
              <%= render partial: 'public/users/block_user', locals: {user: @user} %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="col">
      <thead>
        <tr>
          <th>自己紹介</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <% if current_user.profile.blank? %>
            <% else %>
              <%= current_user.profile %>
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3 class="col">コメントの評価</h3>
  </div>
  <div class="row">
    <table class="col">
      <tr>
        <td>今週のいいね数</td>
        <td><%= @user.week_count %></td>
      </tr>
      <tr>
        <td>直近1ヶ月のいいね数</td>
        <td><%= @user.day30_count %></td>
      </tr>
      <tr>
        <td>トータルいいね数</td>
        <td><%= @user.total_count %></td>
      </tr>
    </table>
  </div>
</div>