<div class="container">
  <div class="row">
    <div class="col">
      <button>投稿一覧</button>
    </div>
    <div class="col">
      <p>投稿してください</p>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <% if request.url == user_root_post_path %>
          <%= form_with url: user_root_post_path, remote: true do |f| %>
            <%= hidden_field_tag :id, "new" %>
            <%= f.submit "新着一覧", id: "new", class: "indexList" %>
          <% end %>
        <% elsif request.url != user_root_post_path %>
          <%= form_with url: user_root_post_path, local: true do |f| %>
            <%= hidden_field_tag :id, "new" %>
            <%= f.submit "新着一覧", id: "new", class: "indexList" %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <p>押してください</p>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col">
          <% if request.url == user_root_post_path %>
            <%= form_with url: user_root_post_path, remote: true do |f| %>
              <%= hidden_field_tag :id, "followed" %>
              <%= f.submit "タイムライン", id: "followed", class: "indexList" %>
            <% end %>
          <% elsif request.url != user_root_post_path %>
            <%= form_with url: user_root_post_path, local: true do |f| %>
              <%= hidden_field_tag :id, "followed" %>
              <%= f.submit "タイムライン", id: "followed", class: "indexList" %>
            <% end %>
          <% end %>
        </div>
        <div class="col">
          <p>押してください</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if request.url == user_root_post_path %>
            <%= form_with url: user_root_post_path, remote: true do |f| %>
              <%= hidden_field_tag :id, "my" %>
              <%= f.submit "自分の投稿", id: "my", class: "indexList" %>
            <% end %>
          <% elsif request.url != user_root_post_path %>
            <%= form_with url: user_root_post_path, local: true do |f| %>
              <%= hidden_field_tag :id, "my" %>
              <%= f.submit "自分の投稿", id: "my", class: "indexList" %>
            <% end %>
          <% end %>
        </div>
        <div class="col">
          <p>押してください</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if request.url == user_root_post_path %>
            <%= form_with url: user_root_post_path, remote: true do |f| %>
              <%= hidden_field_tag :id, "commented" %>
              <%= f.submit "コメントした投稿", id: "commented", class: "indexList" %>
            <% end %>
          <% elsif request.url != user_root_post_path %>
            <%= form_with url: user_root_post_path, local: true do |f| %>
              <%= hidden_field_tag :id, "commented" %>
              <%= f.submit "コメントした投稿", id: "commented", class: "indexList" %>
            <% end %>
          <% end %>
        </div>
        <div class="col">
          <p>押してください</p>
        </div>
      </div>
    <% end %>
  </div>
</div>