<!DOCTYPE html>
<html>
  <head>
    <title>Frunkfrut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/header', locals: {} %>
    </header>
    <!--新規投稿-->
    <%= render partial: 'layouts/new_post', locals: { post: @new_post } %>
    <!--投稿一覧-->
    <%= render partial: 'layouts/post_index', locals: {} %>
    <!--フラッシュメッセージ-->
    <%= render partial: 'layouts/flash', locals: {} %>
    <%= yield %>
  </body>
</html>
